/* input field */
.input1{
  
/* max-width: 100px; */
height: 40px;
background-color: rgb(227, 223, 227);
border: none;
border-radius: 20px;
}
/* sign up button */
.sign{

padding: 7px;
text-align: center;
height: 40px;
background-color:  plum;
border: 2px solid rgb(221, 155, 205);
border-radius: 20px;
}
::placeholder{
    color: black; 
    opacity: 0.5;
}
input:focus{
    background-color:rgb(227, 223, 227) ;
    outline: none;
}
/* #sign-in{
    display: none;
} */
@media (max-width: 438px) {
   
    
    
}


